@import "tailwindcss";



body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.coin{
    animation:spin 9s linear infinite;
   
     transform-style: preserve-3d;
}

@keyframes spin {
  0% {
    transform: rotateZ(-6deg) rotateY(0deg);
  }

  100% {
    transform: rotateZ(15deg) rotateY(360deg);
  }
}
@layer components {
    .form-label{
        @apply text-[#9a9aa8] text-[12px] mb-1 block;
     
    }
    .hint-label{
        @apply text-[#9a9aa8]  mt-1 rounded-2xl bg-black w-full p-3  placeholder:text-[#9a9aa8] placeholder:text-[16px];
    }
    .row2{
        @apply flex gap-2 w-full justify-between;
    }
    .field{
        @apply flex flex-col w-full;
    }
}